<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2P</title>
    <link href='../css/user.css' rel='stylesheet'> 
</head>
<body>
    <header>
        <a href='/user/home' id='acct'>
            <h3>Back</h3>
        </a>
        <div id='title'>
            <h1>P2P Betting</h1>
            <h3>The industries' first <span>peer-to-peer</span> betting app!</h3>
        </div>
        <div id='authLink'>
            <a href='/auth/signOut'>Sign Out</a>
        </div>
    </header>
    <main>
        <h3><%= user.fName + '   ' + user.lName + "'s    Account"%></h3>
        <div id='balance'>
            <p>Withdrawable Balance: </p>
            <p><%= '  $' + user.bal %></p>
        </div>
        <div id='funding'>
            <a id='deposit' href="/user/rendDeposit/">Deposit</a>
            <a id='withdraw' href='/user/rendWithdraw'>Withdraw</a>
        </div>
              
    </main>
    <footer>
        <div id='homeFriends'>
            <p>Friends</p>
            <p>6</p>
        </div>
        <div id='homeBets'>
            <p>Available Bets</p>
        </div>
        <div id='homeAcct'>
            <p>Brady</p>
            <p>$88.00</p>
        </div>
    </footer> 
</body>

</html>