<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2P</title>
    <link href='../css/home.css' rel='stylesheet'>   
</head>
<body>
    <header>
        <div id='welcome'>
            <p>Login to P2P to get started!</p>
        </div>
        <div id='title'>
            <h1>P2P Login</h1>
        </div>
        <div id='authLink'>
            <a href='/'>Back to Home</a>
            <a href='/auth/signup'>Signup</a>
        </div>
    </header>
    <main>
        <div id='loginDiv'>
            <h5>Login to your account</h5>
            <% if (authMsg) { %>
                <h6 id='errMsg'><%= authMsg %></h6>
                <% console.log(authMsg) %>
            <% } %>
            <form action='/auth/login' method='POST'>
                <div class='inputLabel'>
                    <label for="username">Username :</label>
                    <input type='text' name='username'  id='username' required>
                </div>
                <div class='inputLabel'>
                    <label for="password">Password :</label>
                    <input type='password' name='password' id='password' required>        
                </div>
                <input type='submit' id='loginSubmit' value='Login'>
            </form>
        </div>
        <footer>
            <div id='homeFriends'>
                <p>Friends</p>
                <p>6</p>
            </div>
            <div id='homeBets'>
                <p>Available Bets</p>
            </div>

        </footer>       
    </main>
</body>

</html>