<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2P</title>
    <link href='../css/user.css' rel='stylesheet'> 
</head>
<body>
    <header>
        <div id='acct'>
            <p><%= user.fName + '      ' + user.lName %></p>
            <p><%= user.bal%></p>
        </div>
        <div id='title'>
            <h1>P2P Betting</h1>
            <h3>The industries' first <span>peer-to-peer</span> betting app!</h3>
        </div>
        <div id='authLink'>
            <a href='/auth/signOut'>Sign Out</a>
        </div>
    </header>
    <main>
        <div id='homeFeatures'>
            <div id='mainDiv1' class='mainDiv'>
                <h5>Bet Your Friends</h5>
            </div>
            <div id='mainDiv2' class='mainDiv'>
                <h5>P2P Network Bets</h5>
            </div>
            <div id='mainDiv3' class='mainDiv'>
                <h5>Offer Your Bet</h5>
            </div>  
        </div>
        <footer>
            <div id='homeFriends'>
                <p>Friends</p>
                <p>6</p>
            </div>
            <div id='homeBets'>
                <p>Available Bets</p>
            </div>
            <div id='homeAcct'>
                <p>Brady</p>
                <p>$88.00</p>
            </div>
        </footer>       
    </main>
</body>

</html>