body {
    background-color: black;
}
* {
    color: white;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    min-height: 100px;
    border-bottom: 5px solid white;
    padding: 10px;
    width: 100%;
}
#welcome {
    text-align: center;
   border: white solid 2px;
    border-radius: 10px; 
    height: 50%;
    width: 15%;
    background-color: darkred;
}
#title {
    width: 50%;
    flex: center;
}
#authLink{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: white solid 2px;
    border-radius: 10px;
    height: 40px;
    width: 15%;
    background-color: darkred;
}

h1,h3 {
    text-align: center;
}
h3 span {
    text-decoration: underline;
}
#homeFeatures {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    
    min-height: 250px;
    height: 50vh;
}
main {
    min-height: 68%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.mainDiv {
    margin-top: 15px;
    min-height: 100%;
    background: blue;
    border: white 5px solid;
    border-radius: 30px;
    padding: 10px;
    width: 25%;
}
#loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    min-height: 100%;
    background: blue;
    border: white 5px solid;
    border-radius: 30px;
    padding: 10px 0px 30px 0px;
    width: 30%;
}
#loginDiv h5 {
    text-align: center;
    font-size: 30px;
    width: 100%;
}
#errMsg {
    color: red;
    font-size: 20px;
    text-align: center;
}
#loginDiv form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}
.inputLabel {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.inputLabel input {
    border: black solid 3px;
    border-radius: 5px;
    color: black;
}
#loginSubmit, #signinSubmit {
    color: black;
    font-size: 15px;
    border: black solid 3px;
    border-radius: 5px;
    margin-top: 10px;
}

#homeFeatures div h5 {
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-evenly;
    height: 8%;
    max-height: 80px;
    width: 100%;
    background-color: darkred;
}